.Button__container {
  &_input {
    width: 120px;
    text-align: center  ;
    background-color: #71c838;
    padding: 10px 17px;
    color: white;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}
