.wrapper {
  width: 990px;
}
.container {
  display: flex;
  flex-direction: column;

  //nameUser
  &__nameUser {
    display: flex;
    padding-left: 10px;
    align-items: center;
    &_helloUser {
      font-size: 30px;
      color: #666666;
      font-weight: 700;
      line-height: 34px;
      font-style: normal;
      font-family: "Arial";
      margin: 0px 140px 0px 0px;
      > strong {
        font-size: 30px;
        font-weight: 700;
        color: #000000;
        line-height: 34px;
        font-style: normal;
        font-family: "Arial";
      }
    }
    &_statusBtn {
      font-size: 12px;
      font-weight: 400;
      color: #0c77bb;
      line-height: 22px;
      font-style: normal;
      font-family: "Arial";
    }
  }
  //statusDiv
  &__statusDiv {
    margin: 0 auto 20px;
    &_input {
      width: 500px;
      border: inherit;
      font-size: 17px;
      font-weight: 400;
      color: #404040;
      line-height: 22px;
      font-style: normal;
      border-radius: 3px;
      font-family: "Arial";
      background: #eaeaea;
      padding: 10px 10px 10px 14px;
      box-shadow: 1px 1px 3px 1px rgba(34, 60, 80, 0.2);
    }
  }

  //iAgree
  &__iAgree {
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: flex-start;

    &_text {
      width: 230px;
      font-size: 21px;
      font-weight: 400;
      line-height: 19px;
      font-style: normal;
      font-family: "Arial";
    }

    &__inputDiv {
      display: flex;
      align-items: center;
      &_input {
        display: block;
        margin-right: 10px;
      }
      &_p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        font-style: normal;
        font-family: "Arial";
      }
    }
  }

  //button
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    &_data {
      font-size: 12px;
      font-weight: 400;
      color: #999999;
      line-height: 20px;
      margin-left: 12px;
      font-style: normal;
      font-family: "Arial";
    }
  }
}
