.container {
  &__input {
    display: flex;
    padding-left: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: flex-start;

    &_p {
      width: 230px;
      font-size: 21px;
      font-weight: 400;
      line-height: 19px;
      font-style: normal;
      font-family: "Arial";
    }

    &_pGray {
      font-size: 12px;
      font-weight: 400;
      max-width: 340px;
      color: #999999;
      line-height: 20px;
      font-style: normal;
      font-family: "Arial";
      margin: 0px 0px 0px 18px;
    }
  }
}

@media (max-width: 920px) {
  .container {
    &__input {
      &_p {
        font-size: 17px;
        width: 140px;
        line-height: 20px;
        margin-right: 2px;
      }
      &_pGray {
        max-width: 300px;
      }
    }
  }
}
@media (max-width: 790px) {
  .container {
    &__input {
      &_p {
        font-size: 17px;
        width: 140px;
        line-height: 20px;
        margin-right: 2px;
      }
      &_pGray {
        max-width: 200px;
      }
    }
  }
}

@media (max-width: 690px) {
  .container {
    &__input {
      align-items: flex-start;
      flex-direction: column;

      width: 320px;
      margin: 10px auto 3px;
      &_p {
        width: 280px;
        margin: 0px;
      }
      &_pGray {
        padding-top: 5px;
        margin: 5px 0px 0px 0px;
        max-width: 300px;
      }
    }
  }
}
