.Input__container {
  height: 35px;
  &_input {
    width: 305px;
    padding: 0px 10px;
    height: 35px;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 1px rgba(34, 60, 80, 0.3);
  }
  &_error {
    margin-top: 4px;
    font-size: 14px;
  }
}
@media (max-width: 690px) {
  .Input__container_error {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
@media (max-width: 390px) {
  .Input__container {
    height: 40px;
    &_input {
      width: 290px;
    }
    &_error {
      margin-top: 3px;
      font-size: 14px;
    }
  }
}
